SECRET_KEY='SUA CHAVE DJANGO'
SESSION_COOKIE_NAME="sge_sessionid"
CSRF_COOKIE_NAME="sge_csrf"

DEBUG=True

ALLOWED_HOSTS=0.0.0.0,127.0.0.1,localhost

# usar este comando para criar o super user. Remover o --noinput se você quiser digitar usuário e senha interativamente.
# docker compose exec sge_web python manage.py createsuperuser --noinput
DJANGO_SUPERUSER_USERNAME=
DJANGO_SUPERUSER_EMAIL=
DJANGO_SUPERUSER_PASSWORD=

DB_ENV='prd'

# Banco de dados ativo
ACTIVE_DB='postgresql'

POSTGRES_DB=sge
POSTGRES_USER=postgres
POSTGRES_PORT=5432

# CONFIG PARA PRD / DOCKER
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=sge_db

OPENAI_MODEL=
GEMINI_API_KEY=

OPENAI_API_KEY=

MISTRAL_API_KEY=
