{% extends 'base.html' %}

{% block content %}
    <div class="container mt-4">
        <h3 class="display-6">Cadastrar Fornecedor</h3>

        <div class="card">
            <div class="card-body">
                <form method="post" class="form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" name="save" class="btn btn-primary">
                        <!-- <i class="bi bi-save"></i> -->
                        Salvar
                    </button>

                    <button type="submit" name="save_and_new" class="btn btn-success">
                        <!-- <i class="bi bi-save"></i> <i class="bi bi-plus-lg"></i> -->
                        Salvar e adicionar novo
                    </button>
                </form>
            </div>
        </div>
        <a href="{% url 'supplier_list' %}" class="btn btn-secondary mt-3">Cancelar e Voltar</a>
    </div>
{% endblock %}
